@model IEnumerable<ComprasCCB.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Produto</h2>

<p>
    <a asp-action="Create">Criar novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.Unidade)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Fornecedor)</th>
            <th>@Html.DisplayNameFor(model => model.UltimoPreco)</th>
            <th>@Html.DisplayNameFor(model => model.Referencia)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Unidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                <td>@Html.DisplayFor(modelItem => item.Fornecedor)</td>
                <td>@Html.DisplayFor(modelItem => item.UltimoPreco)</td>
                <td>@Html.DisplayFor(modelItem => item.Referencia)</td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
