@model IEnumerable<ComprasCCB.Models.FornecedorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Fornecedor</h2>

<p>
    <a asp-action="Create">Criar novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
